html {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
}
body{
   background-image: url(img/weback.jpg);
   background-size: cover;
}
.navbar-brand{
  height: 70px;
}
.gg{
  margin-top: -110px;
}
.bg-transparent{
  transition: 500ms ease;
  background: transparent !important;
}
.bg-transparent.scrolled{
  background: rgba(0, 14, 51, 1) !important;
}
.jumbotron {
  background-image: url(img/jumbo.jpg);
  background-size: cover;
  border-radius: 2px 2px 50px 2px;
  margin-bottom: 50px;
  box-shadow: 0px 30px 35px rgba(0,0,0,0.2);
}
.navbar-nav{
  transition: 500ms ease;
  margin-left: 40%;
}
.navbar-nav.scrolll{
  margin-left: 65%;
}
.logo{
  color: white;
  font-size: 54px;
  font-family: 'Acme', sans-serif;
  margin-left: 30px;
}
.loga{
  color:black;
  font-size: 54px;
  font-family: 'Acme', sans-serif;
  margin-left: 0;
}
.nav-link{
  color: white;
  font-size: 19px;
  margin-right: 19px;
  font-family: 'Open Sans', sans-serif;
}
.nav-link:active{
  color: cyan;
}
.conten{
  width: auto;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20%;
  padding-right: 15%;
}
.judul{
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.lead{
  font-family: 'Frank Ruhl Libre', serif;
  margin-top: 30px;
  margin-right: 96px;
}
.back{
  background-color: #B2FFE0;
}
.SM{
  margin: 5px 1px 1px 4px;
}
.SM1{
  margin: 5px 1px 1px 7px
}
.sm{
  background-color: #00FF99;
  margin-top: 0px;
  margin-left: 0px;
  height: 40px;
  width: 38px;
  border-radius: 50px;

}
.social-colom{
  position: absolute;
  right: 0px;
  z-index: -1;
  height: 850px;
}
.media {
  margin-top: 60px;
  margin-left: 30px;
}
.medie{
  margin-left: 30px;
  margin-top: 10px;
}
.btn-light{
  background-color: #00FF99;
  border: none;
  border-radius: 5px;
}
.btn-outline-success{
  border-color:  #00FF99;
  color:  #00FF99;
}
.btn-outline-success:hover{
  background-color:  #00FF99;
}

.organisasi{
  padding-top: 100px;
  padding-left: 25%;
  padding-right: 5%;
}


.concard{
  margin-left: 8%;
  margin-right: 5%;
  width: 90%;
}

.judul2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.judul3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:  30px;
}
.text{
font-family: 'Frank Ruhl Libre', serif;
font-size: 16px;
}

.card-img-top{
  border-radius: 10px 10px 0 0;
  position: relative;
}
.card::after{
  content:' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 0;
  background-color: rgba(0, 102, 229, 0.5);
  z-index: 1;
  transition: 1s;
  border-radius: 10px 10px 0 0;
}
.card:hover.card::after{
background-color: rgba(0, 102, 229, 0.9);

}
.card{
  bottom: 0;
  transition: 1s;
  border-radius: 10px 10px 0 0;
  box-shadow: 10px 10px 35px rgba(0,0,0,0.2);
}
.card:hover{
  bottom: 20px;

}

.card-body{
  position: absolute;
  background-color: white;
  bottom: 0;
  width: 85%;
  border-radius: 0 5px 0 0 ;
  z-index: 2;
}
.card2{
  margin-top: 50px;
}
.col-l{
  padding-right: 0;
}
.col-r{
  padding-left: 0;
}
.ab{
  padding-right: 15%;
  padding-left: 25%;
  font-size: 17px;

}
.body{
  background-color: white;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 30px 35px rgba(0,0,0,0.1);
}
.about-1{
  font-size: 20px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  margin-left: 50px;
  padding-top: 50px;

}
.ac{
  font-size: 17px;
  margin-left: 50px;
  padding-right: 11px;
  letter-spacing: 2px;
}
.ground{
  background-image: url(img/macbook.jpg);
  background-size: cover;
  background-position: 50% 50%;
  width: 69%;
  position: relative;
  margin-top: 120px;
    border-radius: 0 10px 10px 0;
}
.ground::after{
  content: ' ';
  background-color: rgba(0, 14, 51, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 0 10px 10px 0;
}
.top{
  position: relative;
  z-index: 1;
  color: white;
  padding-top: 100px;
  padding-left: 100px;
  padding-bottom: 100px;
  padding-right: 70px;

}
.j3{
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  color: #00FF99;
  margin-bottom: 30px;
}
.lr{
  font-size: 15px;
  color: black;
  display: block;
  margin-top: 0px;
}
.lol{
  margin-top: 100px;
  padding-bottom: 200px;
}
.lel{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.lil{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.nav-item::after{
  transition: 1000ms ease;
  content: ' ';
  display: block;
  border-bottom: 3px solid #00FF99;
  width: 0%;
  margin-left: auto;
  margin-right: auto;
}
.nav-item:hover::after{
  content: ' ';
  display: block;
  border-bottom: 3px solid #00FF99;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.nav-item.active .nav-item::after{
  content: ' ';
  display: block;
  border-bottom: 3px solid #00FF99;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#loader-wrapper .loader-section {
  position: fixed;
  display: none;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0);
}
#loader-wrapper .loader-section.section-right {
  right : 0;
}
#loader-wrapper .loader-section.section-left {
  left : 0;
}
